.choices-list-item {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 70vh;
    height: 100%;

    
}

.text-above-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 45vh;
    margin-left: 60vh;
    margin-top: -1.8rem;
    margin-bottom: -18.0rem;
    opacity: 0.8;
    max-width: 770px;
    padding-bottom: 20px;
    color: #333;
    font-size: 20px;
  }

.item {
    margin: 20px;
    padding: 3rem 2rem;
    width: 250px; /* added */
    height: 250px; /* added */
    border-radius: 4px;
    background-color: var(--grey-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
    transition: var(--transition);
    display: flex;
    align-items: flex-start;
}

